---
layout: main
tab: About
title: About
permalink: /about
---

<section class="post">
    <h2>Orthodoxy</h2>
    <h3>History of the Orthodox Church</h3>
    <p>The history of the Orthodox Church actually begins in the Acts of the Holy Apostles, with the Descent of the Holy Spirit: When the day of Pentecost had come, they were all together in one place. And suddenly a sound came from heaven like the rush of a mighty wind, and it filled all the house where they were sitting. And there appeared to them tongues as of fire, distributed and resting on each one of them. And they were all filled with the Holy Spirit and began to speak in other tongues, as the Spirit gave them utterance (Acts 2:1-4). As the text further tells us, on that same day, after St. Peter had preached to the gathered people, those who received his word were baptized, and there were added that day about three thousand souls (Acts 2:41), thus constituting the first Christian community at Jerusalem.</p>
    <p>This first community of Christians, headed by St. James, the Brother of the Lord the first Bishop of the city was later scattered by the persecutions which followed the stoning of the first martyr of the Christian Church, St. Stephen: And on that day a great persecution arose against the church in Jerusalem; and they were all scattered throughout the region of Judea and Samaria, except the Apostles (Acts 8:1).</p>
    <p>At the same time, faithful to the Lord's command to go... and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit (Matt. 28:19), the Apostles went out and preached wherever they went, first to the Jews and then to the Gentiles, so that in a surprisingly short time, Christian communities had sprung up in all the main centers of the Roman world and beyond. Their exploits are recorded in the Acts, as well in the inner tradition of the Orthodox Church.</p>
    <h3>The Orthodox Church in America</h3>
    <p>In the 18th Century, the great Orthodox Christian missionary work which began with Pentecost in Jerusalem, so many centuries before, finally crossed from the continent of Euro-Asia into North America. The first missionaries traveled with the explorers Vitus Bering and Alexei Chirikov, who formally claimed Alaska and the Aleutian Islands in 1741. For the next fifty years, together with the exploration and economic development of this new outpost of the Russian Empire, the first attempts were made to bring the Orthodox Faith to the natives of that region (the Aleuts, the Athabascan Indians, the Tlingits, and the Eskimos).</p>
    <p>The first formal Orthodox Christian Mission to America arrived on September 24, 1794, in Kodiak. This Mission consisted of eight Monks and two Novices, together with ten Alaskan natives who had been taken to Russia by Gregory Shelikov in 1786. This Mission discovered on Kodiak Island hundreds of natives who had been taught the rudiments of the Orthodox Faith, and had been baptized by laymen. Gregory Shelikov, one of the founders of what was to become later the Russian-American Company, had himself baptized about two hundred Aleuts on Kodiak Island.</p>
    <p>The American Mission, headed by Archimandrite Joasaph, immediately began the work of establishing the Church in Kodiak and the Islands and later on the mainland of Alaska. Despite great difficulties, this Mission was very successful, for virtually all the remaining natives of Kodiak Island were baptized in just three years. During this period, one of the missionaries, Hieromonk Juvenaly, was martyred at Lake Iliamna by natives.</p>
    <h2>Parish</h2>
    <h3>History of the parish</h3>
    <p>
        <span class="image left">
            <image src="/assets/img/about/borichevsky.jpg" alt="" />
        </span>
        St. Mark's Church was founded on November 15, 1972 by a small group of people who had in mind a parish open to Orthodox believers of all national backgrounds. The first meetings and services were held at St. Paul's Episcopal Church in Doylestown, PA. In the earliest years some of the worship was held in parishoners' homes. His Eminence, Archbishop Kiprian confirmed the name of the new mission as St. Mark's Church (the Apostle and Evangelist) on November 2, 1974.
        <span class="image right">
            <image src="/assets/img/about/kowalczyk.jpg" alt="" />
        </span>
    </p>
    <p>In July 1973 the Very Rev. Vladimir S. Borichevsky was appointed to serve the parish, and the Liturgies came to be celebrated in Old Historic Trinity Episcopal Church in Buckingham, PA. Fr. Borichevsky continued to serve the parish until he was appointed Dean of Faculty of St. Tikhon's Seminary in 1977.</p>
    <p>
        <span class="image left">
            <image src="/assets/img/about/karaffa.jpg" alt="" />
        </span>
        Fr. John Kowalczyk served St. Mark's from 1977 to 1979. He was succeeded by the reappointment of Fr. Vladimir, who remained until 1986. On June 1, 1986, Fr. Stephen Karaffa was assigned to the parish. Under Fr. Stephen's term the parish acquired its own property, some five acres of wooded land with a home in Wrightstown, PA (the present location). The grounds were cleared for a church edifice and parking area. Construction began in August, 1988, and on October 14, the new building was consecrated by His Grace, Bishop Herman.</p>
        <span class="image right">
            <image src="/assets/img/about/heckman.jpg" alt="" />
        </span>
    <p>In September of 1992, Very Rev. Theodore Heckman was assigned to St. Mark's.</p>
    <p>In December of 2012, the present rector, Rev. Raymond Martin Browne was assinged to St. Mark's.</p>
</section>
<section class="posts">
{% for cleric in site.data.administration %}
    <article>
        <header>
            <span class="date">{{ cleric.title }}</span>
            <h2><a href="{{ cleric.bio }}">{{ cleric.salutation }}<br />
            {{ cleric.name }}</a></h2>
        </header>
        <a href="{{ cleric.bio }}" class="image"><img src="/assets/img/about/admin/{{ cleric.id }}.jpg" alt="" /></a>
        <p class="align-center">
            {{ cleric.address }}{% if cleric.address %}<br />{% endif %}
            <a href="mailto:{{ cleric.email }}">{{ cleric.email }}</a>{% if cleric.email %}<br />{% endif %}
            <a href="tel:{{ cleric.phone }}">{{ cleric.phone }}</a>
        </p>
        {% if false %}
        <ul class="actions special">
            <li><a href="#" class="button">Full stroy</a></li>
        </ul>
        {% endif %}
    </article>
{% endfor %}
    <article>
        <header>
            <span class="date">Choir</span>
        </header>
        <p class="align-center">
            Daria Cortese - Director<br />
            Matushka Martha Moser - Associate Director<br />
            Sergei Arhipov - Director Emeritus
        </p>
        <header>
            <span class="date">Parish Council</span>
        </header>
        <p class="align-center">
            Kevin Swan - Council Chair<br />
            Jennifer Sremanak - VP<br />
            Andrew Skordinski - Treasurer<br />
            Dulany Gibson - Financial Secretary<br />
            Charlotte Regen - Recording Secretary<br />
            Charles Rybny - Trustee<br />
            James Pitra - Trustee<br />
            Marek Szeliga - Trustee
        </p>
    </article>
</section>
