---
layout: main
---
<!-- Post -->
<section class="post">
    <header class="major">
        <span class="date">April 25, 2017</span>
        <h1>This is a<br />
            Generic Page</h1>
        <p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />
            facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />
            amet nullam sed etiam veroeros.</p>
    </header>
    <div class="image main"><img src="images/pic01.jpg" alt="" /></div>
    {{ content }}
</section>
